* {
    /*border: 1px dashed red;*/
}
form{
  text-align: center;
  border: 1px;
}
.cancelar{
    float: left;
    margin-right: 1px;

}
.confirmado{
    float: right;
}
.margen{
    align-content: center;
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 1;
    grid-row-gap: 2.5em;
}
.margen div{
    align-content: center;
}