.margen{
   margin-left: 35%;
   margin-right: 35%;
}
.form{
  text-align: center; 
}
#img{
  display: flex;
  justify-content: space-between;
}
.form-datos{
  border: 1px;
}
.cancelar{
  float: left;
}


/*exitoso*/
.mmensaje{
  
  height: 400%;
}
 .exitoso{
  text-align: center;
 }