* {
  /*border: 1px dashed red;*/
}
form{
  text-align: center;
  border: 1px;
  margin-left: 33%;
  margin-right: 33%;
}
.cancelar{
  float: left;
  margin-right: 1px;

}
.confirmado{
  float: right;
}

/*exitoso*/
.mmensaje{
  height: 400%;
}
 .exitoso{
  text-align: center;
 }