<<<<<<< HEAD
*{
   /*border: 1px dashed red;*/
}
body{
    display: grid;	
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4); 
}
=======
>>>>>>> 8dd258f4afa26af2f533483a10ef12d017ef2824
#logo{
    /* Fondo Header */    
    /* Logo */
    /*position: absolute;*/
    width: 100%;
    height: 148px;
    left: 0px;
    top: 0px;
    /* Rojo_Primario_Fuerte */
    background: #D81324;
    text-align: center;
}
nav{
    /* Fondo NavBar */
    /*position: absolute;*/
    width: 100%;
    height: 46.16px;
    left: 0.12px;
    top: 148.36px;
    /* Negro_Secundario_Fuerte */
    background: #000000;
    /*transform: rotate(-0.21deg);*/
}
nav a{
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:#D81324;
}
#imcntct{
    /* opcion Contacto */
    position: absolute;
    width: 71px;
    height: 21px;
    left: 148px;
    top: 159px;

    font-family: 'Tinos';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}
#imrgstr{
    /* opcion Registro */
    position: absolute;
    width: 65px;
    height: 21px;
    left: 381px;
    top: 159px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}
#imbscdr{
    /* caja de texto buscar */
    position: absolute;
    width: 220px;
    height: 24px;
    left: 803px;
    top: 175px;
}
#imbscdr img {
    /* icono lupa */
    position: absolute;
    width: 32px;
    height: 23.23px;
}
#imcar{
    /* icono Carrito */
    position: absolute;
    width: 30px;
    height: 22px;
    left: 1150px;
    top: 175px;
}
#iportada{
    /* fondo de la pagina*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*top: 185px;*/
    position: relative;
}
#iopcatda{
    /* Ropa para ELLAS */
    position: absolute;
    width: 416px;
    height: 220px;
    left: 77px;
    top: 339px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-22.35deg);
}
#iopcatca{
    /* Ropa para ELLOS */
    position: absolute;
    width: 416px;
    height: 220px;
    left: 832px;
    top: 339px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-22.35deg);    
}
#iopcatca a,  #iopcatda a{
    color:white;
    text-decoration: none;
}
#iopcatca a:hover,  #iopcatda a:hover{
    line-height: 110px;
    font-weight: 700;
}
footer{
    /* PIE DE PAGINA*/
    position: absolute;
    width: 100%;
    height: 144px;
    color:white;
    /* Rojo_Primario_Fuerte */
    background: #D81324;
    text-align: center;
}
/*-----------------------------------------*/
/*           FICHA DE CATALOGOS            */
/*-----------------------------------------*/
main{
    width: 100%;
    height: 731px;
    top: 185px;
    align-content: center;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2;
    grid-row-gap: 2.5em;
}
.slider{
    top: 247px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    grid-column-gap: 1em;
	height: auto;
    align-content: center;
    text-align: center;
}
.nvgdrizq{
    width: 180px;
    height: 279px;
    display:flex;
    justify-content: right;
    align-items: center;
    vertical-align: middle
}
.nvgdrder{
    width: 180px;
    height: 279px;
    display:flex;
    justify-content: left;
    align-items: center;
    vertical-align: middle
}
.flechas{
    background: #D81324;
    text-align: center;

}
.ficcat{
    width: 180px;
    height: 279px;
    border: 1px solid #000000;
    border-radius: 5px;    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;
}
.ficcat img{
    grid-column: 1 / 3;
    grid-row: 1;
    width: 170px;
    height: 216px;
}
.ficcat p{
    grid-column: 1 / 2;
    grid-row: 2;
    width: 80%;
    height: 14px;
    /*left: 305px;
    top: 481px;*/
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}
.ficcat .precio{
    grid-column: 1 / 2;
    grid-row: 3;
    width: 80%;
    margin-top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    
}
.ficcat .cartico{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-content: center;
    margin-top: 10px;
} 
.ficcat .imgcarro {
    width: 30px;
    height: 30px;
    align-content: center;
}


/*---------------------------------------*/
/*   CSS DEL CARRITO DE COMPRA           */
/*---------------------------------------*/
#opciall{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2);
    
}
.opci{
    grid-column: 1 / 2; 
    grid-row: 1;
    width: 100%;
    text-align: center;
}
.opci-aba{
    grid-column: 1 / 2; 
    grid-row: 2;
    width: 100%;
    text-align: center;
}
.opci-sub{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}
/* -------------------------------*/
/* GRID DE LA TARJETA DE PRODUCTO */
/*--------------------------------*/
.card1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3);
    /*box-sizing: border-box;
    max-width: 500px;
    max-height: auto;
    
    border: 1px solid #000000;
    border-radius: 5px;*/
}
.cardimage {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.cardimage img{
   max-width: 90px;
   max-height: 114.35px;
  float: right;
  padding-right: 20px;
    
}
.descimage{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    max-width: 40%;


}
.deci-text{
    display: block;
    max-width: 50%;
    float: left;

} 
.deci-detele{
    float: right;
   
}
.cantimage{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: auto;
    display:flex;
    align-content: center;
}
.okboton{
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    display: flex;
    padding: 10px 0px;
}