/*************************************************
 * Archivo    : styles.css;
 * Descripcion: Hoja de estilos CSS de la pagina index.html de
 *              del Proyecto Final Modulo 4;
 * Autor      : Raul Ibañez;
 * Version    : 2.0;
 * Fecha      : 13/10/2022;
 * Integrantes: Becerra Nicolas
 *              Castañeda Stiven
 *              Guevara Nelson
 *              Ibañez Raul
 *-----------------------------------------------
 * Implementacion de Bootstrap y Media Queries
 *-----------------------------------------------
 */
 header{
    /* COLOR DE FONDO DEL HEADER */
    background: #D81324;
}
.fondo{
    /* IMAGEN DE FONDO DEL BODY */
    width: 100%;
    height: 100vh;
    background: url("../img/fondo.jpg") no-repeat top center;

}
#iopcatda{
    /* OPCION DEL CATALOGO PARA DAMAS */
    margin-top: 9rem;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 200;
    font-size: 76px;
    line-height: 90px;
    color: #FFFFFF;
    transform: rotate(-22.35deg);
}
#iopcatca{
    /* OPCION DEL CATALOGO PARA CABALLEROS */
    margin-top: 9rem;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 200;
    font-size: 76px;
    line-height: 90px;
    color: #FFFFFF;
    transform: rotate(-22.35deg);    
}
#iopcatca a,  #iopcatda a{
    color:white;
    text-decoration: none;
}
#iopcatca a:hover,  #iopcatda a:hover{
    line-height: 110px;
    font-weight: 700;
}
footer{
    /* FONDO DEL FOOTER */
    background: #D81324;
}
footer p{
    /* LETRAS DEL FOOTER*/
    color:#FFFFFF;
}
/**********************************************
 *    MEDIA QUERIES
 **********************************************
 */
@media screen and (max-width: 420px){
    .fondo{
        /* SE REDUCE EL TAMAÑO DEL BODY */
        height: 80vh;
    }
    #iopcatda{
        /* OPCION DEL CATALOGO PARA DAMAS REDUCIDO */
        margin-top: 1rem;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 60;
        font-size: 40px;
        line-height: 45px;*/
        color: #FFFFFF;
        transform: rotate(0.0deg);
    }
    #iopcatca{
        /* OPCION DEL CATALOGO PARA CABALLEROS REDUCIDO */
        margin-top: 1rem;
        font-family: 'Tinos';
        font-style: normal;
        font-weight:60;
        font-size: 40px;
        line-height: 45px;
        color: #FFFFFF;
        transform: rotate(0.0deg);
    }
}

@media screen and (min-width: 420px) and (max-width: 960px){
    .fondo{
        /* SE REDUCE EL TAMAÑO DEL BODY */
        height: 50vh;
     }
    #iopcatda{
        /* OPCION DEL CATALOGO PARA DAMAS REDUCIDO */
        margin-top: 1rem;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 100;
        font-size: 56px;
        line-height: 70px;*/
        color: #FFFFFF;
        transform: rotate(0.0deg);
    }
    #iopcatca{
        /* OPCION DEL CATALOGO PARA CABALLEROS REDUCIDO */
        margin-top: 1rem;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 100;
        font-size: 56px;
        line-height: 70px;*/
        color: #FFFFFF;
        transform: rotate(0.0deg);
    }
}

/*---------------------------------------*/
/*   CSS DEL CARRITO DE COMPRA           */
/*---------------------------------------*/
#opciall{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2);
    height: auto;
}
.opci{
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%;
    text-align: center;
}
.opci-aba{
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
    text-align: center;
}
.opci-sub{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}
.cardimage img {
    width: 90px;
    height: 114.35px;
}
.cantimage{
    display:flex;
    align-content: center;
}
.okboton{
    display: flex;
}
/*--------------------------------*/
/* CSS DE COMPRA EXITOSA          */
/*--------------------------------*/
.exitoso{
    color: red;
    text-align: center;
}
.cancelado{
    color: black;
    text-align: center;
}
/* -------------------------------*/
/* CSS DE CATALOGOS               */
/*--------------------------------*/
.slider{
    height: 630px;
    /*display: flex;*/
}
.card {
    top: 25px;
    bottom: 25px;
    width: 180px;
    height: 279px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    display:flex;
}
.card img{
    /*width: 150px;*/
    width: auto;
    height: 190px;
    text-align: center;
}
.card p{
    float:left;
}
.card a img{
    float:right;
    width: 32px;
    height: 32px;
}
.flechaizq, .flechader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 279px;
}
.flechaizq img, .flechader img {
    width: 32px;
    height: 32px;
    background: #D81324;
}
