* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 1px dashed red;*/
}
/* ----- ENCABEZADO -----*/
header {
	display: grid;	
	grid-template-columns: auto 60% auto;
	grid-template-rows: auto;
	width: 100%;
}
/* ---  BARRA DE NAVEGACION -- */ 
nav {
	grid-column: 3 / 4;
	grid-row: 1;
	display: flex;
	float: right;
}

nav ul {
	padding-top: 90px;
	margin: 0;	
}

nav ul li,a {
	display: inline-flex;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}
/* ------ CSS de la Descripcion -- */
.descrip {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;

}
span {
   color:#F90000; 
}

#imbscdr{
    /* caja de texto buscar */
    position: absolute;
    width: 220px;
    height: 24px;
    left: 803px;
    top: 175px;
}
#imbscdr img {
    /* icono lupa */
    position: absolute;
    width: 32px;
    height: 23.23px;
}
#imcar{
    /* icono Carrito */
    position: absolute;
    width: 30px;
    height: 22px;
    left: 1150px;
    top: 175px;
}
