/*************************************************
 * Archivo    : styles.css;
 * Descripcion: Hoja de estilos de la pagina de 
 *              grupo del Proyecto Final Modulo 3;
 * Autor      : Raul Ibañez;
 * Version    : 1.0;
 * Fecha      : 03/10/2022;
 * Integrantes: Becerra Nicolas
 *              Castañeda Stiven
 *              Guevara Nelson
 *              Ibañez Raul     
 *-----------------------------------------------
 * Implementacion de Media Queries
 *-----------------------------------------------
 */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 1px dashed red;*/
}
/* ----- ENCABEZADO -----*/
header {
	display: grid;	
	grid-template-columns: auto 60% auto;
	grid-template-rows: auto;
	width: 100%;
    height: 140px;
    /*background-color:cornflowerblue;*/
    background-color:rgba(6, 90, 247, 0.322);
}
/* ---  BARRA DE NAVEGACION -- */ 
nav {
	grid-column: 3 / 4;
	grid-row: 1;
	display: flex;
	float: right;
}

nav ul {
	padding-top: 60px;
	margin: 0;	
}

nav ul li,a, #ifomen ul li, a  {
	display: inline-flex;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}
nav ul li, a:hover{
    color:white;
    /*font-weight: bold;*/
    text-shadow: 2px 4px 6px #1162ac;     
}
main {
    background-color:rgba(176, 204, 255, 0.39);
}
/* ------ CSS de la Descripcion -- */
.descrip {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;

}
span {
   color:#F90000; 
}
.titulo{
    text-align: center;
}
/* -- CSS del Cuerpo de Section id Grupo  --*/
#grupo{
    width: 100%;
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;*/
	height: auto;
}
/* -- CSS de las tarjetas Biograficas --*/
.card {
    box-sizing: border-box;
    background: linear-gradient(180deg, #091E3A 31.18%, #2F80ED 78.86%, #2D9EE0 100%);
    border: 1px solid #0500FF;
    border-radius: 10px;
    margin-bottom: 15px;
}
.rectangulo {
    margin-top: 16px;
    box-sizing: border-box;
    background: #ff0000;
    border-radius: 5px;
    height: 40px;
    transform: rotate(-7.74deg);
}
.rectangulo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.foto {
    text-align: center;
}
.circulo {
    width: 173px;
    height: 174px;
    border-radius:350px;
    border: 7px solid #FFFFFF;
}
.bio {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
    height: 25vh;
}
/* el separador */
.separador {
	padding: 1rem 0 1rem 0;
	border-bottom: 1px dashed red;
}
footer {
    display: grid;	
	grid-template-columns: auto 60% auto;
	grid-template-rows: auto;
	width: 100%;
    height: 140px;
    background-color:rgba(6, 90, 247, 0.322);
}
/**********************************************
 *    MEDIA QUERIES
 **********************************************
 */
@media screen and (max-width: 420px){
    header {
	display: grid;	
	grid-template-columns: auto;
	grid-template-rows: 3;
	width: 100%;
    height: auto;
    /*background-color:cornflowerblue;*/
    background-color:rgba(6, 90, 247, 0.322);
    }
    #ititulo{
        grid-column: 1/2;
        grid-row: 2;
    }
    nav {
	grid-column: 1 / 2;
	grid-row: 3;
	display: flex;
	float: right;
    }
    #grupo{
        margin-left: 2px;
        width: 80vw;
    }
    footer{
        display: grid;	
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 3;
        width: 100%;
        height: auto;
        /*background-color:cornflowerblue;*/
        background-color:rgba(6, 90, 247, 0.322);
    }
}

@media screen and (min-width: 420px) and (max-width: 960px){
    header {
	display: grid;	
	grid-template-columns: 2;
	grid-template-rows: 3;
	width: 100%;
    height: auto;
    /*background-color:cornflowerblue;*/
    background-color:rgba(6, 90, 247, 0.322);
    } 
    #ititulo{
        grid-column: 1/2;
        grid-row: 2;
    }
    nav {
	grid-column: 1 / 2;
	grid-row: 3;
	display: flex;
	float: right;
    }
}
